In [2]:
#dictionary
d={'a':23,'b':'abc','c':67}
d

{'a': 23, 'b': 'abc', 'c': 67}

In [3]:
d['a']

23

In [5]:
#iteration process
for i in d.items():
    print(i)

('a', 23)
('b', 'abc')
('c', 67)

In [6]:
for i,j in d.items():
    print(i,"=",j)

a = 23
b = abc
c = 67

In [7]:
for i in d.values():
    print(i)

23
abc
67

In [8]:
for i in d.keys():
    print(i)

a
b
c

In [9]:
#multivalued dictionary 
emp={'empid':[101,102,103],'empname':['jyan','jack','ryan'],'salary':[87673,47867,87873]}
emp

{'empid': [101, 102, 103],
 'empname': ['jyan', 'jack', 'ryan'],
 'salary': [87673, 47867, 87873]}

In [11]:
for i,j in emp.items():
    print(i,j)

empid [101, 102, 103]
empname ['jyan', 'jack', 'ryan']
salary [87673, 47867, 87873]

In [12]:
import pandas as pd
data=pd.DataFrame(emp)
data

   empid empname  salary
0    101    jyan   87673
1    102    jack   47867
2    103    ryan   87873

In [15]:
data.to_excel("sample.xls")

<ipython-input-15-f5ec1d5504c8>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  data.to_excel("sample.xls")

In [ ]:
#operations 
1.slicing / indexing  : string/list/dict/tuple
2.insertion  : list/dict
3.deletion  :list/dict
4.updation  : list/dict
5.searching  : string/list/dict/tuple
6.transversing : all
7.sorting  : all
8.copy     : list/dict/tuple
9.reverse  : list/dict/tuple

In [ ]:
#list 
append()
insert()

In [16]:
l=[23,45,67,89,90]
l.append(34)
l

[23, 45, 67, 89, 90, 34]

In [17]:
l.insert(2,56)
l

[23, 45, 56, 67, 89, 90, 34]

In [3]:
l=[23,45,67,89,90]
pos=int(input("enter you position to enter"))
elem=int(input("enter your element"))
l.insert(pos,elem)
print(l)

enter you position to enter4
enter your element67
[23, 45, 67, 89, 67, 90]

In [4]:
l=[] #empty list
size=int(input("enter size of the list"))
for i in range(size):
    elem=input("enter your element")
    l.append(elem)

print(l)

enter size of the list6
enter your element23
enter your element56
enter your element12
enter your elementabc
enter your element78
enter your element55
['23', '56', '12', 'abc', '78', '55']

In [ ]:
#deletion operation 
remove()
pop()
del opeartor

In [5]:
l

['23', '56', '12', 'abc', '78', '55']

In [6]:
l.remove('56')
l

['23', '12', 'abc', '78', '55']

In [7]:
l.pop(3)
l

['23', '12', 'abc', '55']

In [8]:
l.pop(1)

'12'

In [9]:
l

['23', 'abc', '55']

In [10]:
del l[2]

In [11]:
l

['23', 'abc']

In [12]:
l=[23,56,78,12,90,44]
l.pop(4)
l.pop(5)
l.pop(2)

IndexError: pop index out of range

In [13]:
l=[23,56,78,12,90,44]

In [14]:
del l[1:4]

In [15]:
l

[23, 90, 44]

In [16]:
#menu -driven program based on choice 
con=input("select yes/no to start the opeartions ")
while(con=="yes"):
    choice=input("enter your choice of operations ( + or - )")
    a=int(input("enter value a"))
    b=int(input("enter value b"))
    if choice=="+":
        print("sum=",a+b)
    elif choice=="-":
        print("result=",a-b)
    con=input("do you want to continue again ")
    if con=="yes":
        continue
    elif con=="no":
        break
    
print("process over ")

select yes/no to start the opeartions yes
enter your choice of operations ( + or - )+
enter value a4
enter value b6
sum= 10
do you want to continue again yes
enter your choice of operations ( + or - )-
enter value a6
enter value b8
result= -2
do you want to continue again no
process over

In [17]:
a=5
b=2

In [19]:
a//b #floor division

2.5

In [20]:
a*b

10

In [21]:
a**b #exponential

25