In [1]:
a=6
float(a)

6.0

In [2]:
complex(a)

(6+0j)

In [ ]:
int()
float()
complex()
list()
str()
tuple()
dict()
set()
bool()

In [3]:
s={3,2,5,1,7,2,3,1,7}
print(s)

{1, 2, 3, 5, 7}

In [7]:
s="computer"
print(len(s))
s.upper()

8

'COMPUTER'

In [6]:
len(s)

8

In [ ]:
Operators : 
    unary , binary , ternary 
binary : 
    arithematic : +,-,*,/,//,%,**
    relational :  >,<,>=,<=,!=,==
    logical   : and , or , not 
    bitwise  : & , | , ! 
    membership  : in , not in 
    indentity   : is / is not 
    assignment  : +=,-=,*=,

In [8]:
a=5
b=2
print(a/b)
print(a//b)
print(a%b)
print(a*b)
print(a**b)

2.5
2
1
10
25

In [12]:
a=-6
b=-4
c=6

d=(a > b) and (a < c) or (b<c)
print(d)

True

In [13]:
a=5
b=2
print(bin(a))

0b101

In [15]:
print(bin(b))

0b10

In [16]:
print(a & b)

0

In [17]:
print(a | b)

7

In [18]:
print(11 & 3)

3

In [19]:
bin(11)

'0b1011'

In [20]:
a=6
a+=11
a

17

In [2]:
import pandasql as ps

ModuleNotFoundError: No module named 'pandasql'